@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans&display=swap');

body {
  font-family: 'Acme', sans-serif;
}
.landingContainer {
  background-color: rgb(204, 204, 204);


  text-align: center;
  font-family: 'Acme', sans-serif;




  border: solid 2px black;
  width: 48%;
  height: 350px;
  margin: auto;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.search-bar {
  margin-top: 100px;
  padding: 25px 20px;
  margin: auto;

  color: transparent;
}
.search-bar input {
  height: 44px;
  margin: auto;
  width: 90%;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  text-align: center;
}
.search-bar input:hover {
  box-shadow: 0px 0px 30px rgba(70, 73, 70, 0.8);
}
.select,
.translateBtn {
  height: 44px;
  width: 45%;
  margin-top: 5px;
  font-family: 'Acme', sans-serif;

  padding: 5px;
  font-size: 18px;
}

.wrapper h1 {
  margin: auto;
  margin-top: 15px;
  align-content: center;
  text-align: center;
  letter-spacing: 3px;
}
.translateBtn {
  margin-left: 10px;
  font-family: 'Acme', sans-serif;
}